.ListItem {
  display: flex;
  padding: 1vh;
  flex-wrap: wrap;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px #ccc;
  margin-bottom: 1vh;
  border-bottom: 1px solid #ccc;
  transition: all 0.5s linear;
}

.UserInfo {
  display: flex;
  flex-grow: 5;
  flex-wrap: wrap;
  margin-bottom: 5px;
  align-items: center;
}

.UserInfo img {
  border-radius: 50px;
  width: 45px;
  margin-right: 0.8vh;
}

.UserInfo div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.UserInfo p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.UserControls {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 1vw;
}

.UserControls .CloseIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #d55454;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  margin: 1px 1px;
}

.UserControls .RightArrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 18px;
  color: #bbb;
  text-align: center;
  font-size: 20px;
  margin: 1px 1px;
}

@media (max-width: 800px) {
  .UserInfo {
    justify-content: center;
  }
}
